/*#videoBG {
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }

    body {
        background: url ('poster.jpg');
        background-size: cover;
    }
}*/

main {
    background-color: #EBE8E0
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
}

.burgermenu {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 30px;
    max-width: 40px;
    margin-left: 10px;
}

.searchicon {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: 30px;
    max-width: 40px;
}

.headerlogo {
    grid-column-start: 3;
    grid-column-end: 3;
}

.hearticon {
    grid-column-start: 5;
    grid-column-end: 5;
    margin-top: 30px;
    max-width: 40px;

}

.shoppingicon {
    grid-column-start: 6;
    grid-column-end: 6;
    margin-top: 30px;
    max-width: 40px;
    margin-right: 10px;
}

#forside {
    background-color: #EBE8E0;
}

.splash,
.populare,
.history,
.nyhedsbrev {
    background-color: white;
}

.populare,
.history,
.nyhedsbrev {
    margin: 50px;

}

#videoBG {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#pilotvideo {
    margin-bottom: 40px;
}

.nav {
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    left: 20%;
}

nav a {
    color: white;
    text-shadow: 2px 2px 10px rgba(150, 150, 150, 1);
    font-size: 1.5rem;
    font-weight: 1000;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    color: #000000;
    transition: 0.5s;
}

.splash {
    background-color: #EBE8E0;
    margin-top: 20px;
}

.populartext {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}



.popular {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 60px;
    width: auto;
    background-color: #EBE8E0;
}

/*POPULAR COLS*/

.col1 {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #EBE8E0;
    width: 300px;
}

.col2 {
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: #EBE8E0;
    width: 300px;
}

.col3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #EBE8E0;
    width: 300px;
}

.col4 {
    grid-column: 4/4;
    grid-row: 1/2;
    background-color: #EBE8E0;
    width: 300px;
}

.col5 {
    grid-column: 1/4;
    grid-row: 2/2;
    background-color: #EBE8E0;
    width: 300px;
}

.col6 {
    grid-column: 2/4;
    grid-row: 2/2;
    background-color: #EBE8E0;
    width: 300px;
}

.col7 {
    grid-column: 3/4;
    grid-row: 2/2;
    background-color: #EBE8E0;
    width: 300px;
}

.col8 {
    grid-column: 4/4;
    grid-row: 2/2;
    background-color: #EBE8E0;
    width: 300px;

}

.top {
    z-index: 2;
    width: 300px;

}

.bottom {
    position: absolute;
    overflow: hidden;
    background-color: #EBE8E0;
    z-index: 3;
    width: 300px;


}

.history {
    background-color: #CDC1BF;
    margin-top: 120px;
    text-align: center;
}

.historytext {
    padding: 30px;
}

.nyhedsbrev {
    text-align: center;
    padding: 3vw;
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #EBE8E0;
    width: 100;
}

.kundeservice,
.guides,
.inspiration {
    display: inline-block;
    margin: 20px;
}
