#my_header {
    text-align: center;
    padding: 0px;
    position: relative;
    height: 0;
}

nav {
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;

}

body {
    background-color: #EBE8E0;
}
