* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

h1 {
    position: absolute;
    font-size: 4vw;
    top: -0.9vw;
    right: 30vw;
    font-family: 'Playfair Display', serif;
}

h2 {
    position: absolute;
    font-size: 3.5vw;
    top: 20.1vw;
    right: 27vw;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
}

#header {
    position: absolute;
    font-size: 2vw;
    top: 7.1vw;
    right: 22vw;
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3vw;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.6vw;
}
